{% extends "base.html.twig" %}
{% block body %}
	{# <!--==============================
	 Contact Info Area
	==============================-->
	    <div class="space">
	        <div class="container">
	            <div class="row gy-4">
	                <div class="col-xl-4 col-md-6">
	                    <div class="location-card">
	                        <h3 class="box-title">Central Branch</h3>
	                        <p class="footer-info">
	                            <i class="far fa-location-dot"></i>
	                            12601 Garden Grove Blvd, Garden Grove, CA 92843
	                        </p>
	                        <p class="footer-info">
	                            <i class="far fa-envelope"></i>
	                            <a href="mailto:info@contacthp.com" class="info-box_link">info@contacthp.com</a>
	                        </p>
	                        <p class="footer-info">
	                            <i class="far fa-phone"></i>
	                            <a href="tel:+17145375160" class="info-box_link">+171 4537 5160</a>
	                        </p>
	                    </div>
	                    <div class="contact-feature">
	                        <div class="box-icon">
	                            <i class="far fa-clock"></i>
	                        </div>
	                        <div class="media-body">
	                            <h3 class="box-title">Opening Hours</h3>
	                            <p class="box-text">Mon to sat: 8:00am - 9:00pm</p>
	                            <p class="box-schedule">Sunday - Closed</p>
	                        </div>
	                    </div>
	                </div>
	                <div class="col-xl-4 col-md-6">
	                    <div class="location-card active">
	                        <h3 class="box-title">USA. Branch</h3>
	                        <p class="footer-info">
	                            <i class="far fa-location-dot"></i>
	                            1120 15th St BA 8412, Augusta, GA 30912, United States
	                        </p>
	                        <p class="footer-info">
	                            <i class="far fa-envelope"></i>
	                            <a href="mailto:info@contacusa.com" class="info-box_link">info@contacusa.com</a>
	                        </p>
	                        <p class="footer-info">
	                            <i class="far fa-phone"></i>
	                            <a href="tel:+17067218623" class="info-box_link">+170 6721 8623</a>
	                        </p>
	                    </div>
	                    <div class="contact-feature">
	                        <div class="box-icon">
	                            <i class="far fa-clock"></i>
	                        </div>
	                        <div class="media-body">
	                            <h3 class="box-title">Opening Hours</h3>
	                            <p class="box-text">Mon to sat: 8:00am - 9:00pm</p>
	                            <p class="box-schedule">Sunday - Closed</p>
	                        </div>
	                    </div>
	                </div>
	                <div class="col-xl-4 col-md-6">
	                    <div class="location-card">
	                        <h3 class="box-title">Australia Branch</h3>
	                        <p class="footer-info">
	                            <i class="far fa-location-dot"></i>
	                            260 Lygon St, Brunswick East VIC 3057, Australia
	                        </p>
	                        <p class="footer-info">
	                            <i class="far fa-envelope"></i>
	                            <a href="mailto:info@contactaus.com" class="info-box_link">info@contactaus.com</a>
	                        </p>
	                        <p class="footer-info">
	                            <i class="far fa-phone"></i>
	                            <a href="tel:+61399882015" class="info-box_link">+613 9988 2015</a>
	                        </p>
	                    </div>
	                    <div class="contact-feature">
	                        <div class="box-icon">
	                            <i class="far fa-clock"></i>
	                        </div>
	                        <div class="media-body">
	                            <h3 class="box-title">Opening Hours</h3>
	                            <p class="box-text">Mon to sat: 8:00am - 9:00pm</p>
	                            <p class="box-schedule">Monday - Closed</p>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>  #}
	<!--==============================
	Contact Area   
	==============================-->
	{# 
	<form id="myForm" action="https://api.web3forms.com/submit" method="POST">
	
								<input type="hidden" name="access_key" value="a084bb5f-6100-45f3-aec0-e0306365a590">
								<input type="hidden" name="redirect" value="http://alevole.infinityfreeapp.com/">
								<h6 class="h6 text-capitalize mb-1">Get Your Free Quote</h6>
								<p>Supporting call-to-action goes here</p>
								<button type="button" class="close position-absolute" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								<div class="row">
									<div class="col-12">
										<input name="name" class="form-control" type="text" placeholder="Your Name" required
											data-error="NEW ERROR MESSAGE">
									</div>
									<div class="col-12">
										<input name="email" class="form-control" type="email" placeholder="Your Email"
											required data-error="NEW ERROR MESSAGE">
									</div>
									<div class="col-12">
										<textarea name="message" class="form-control" type="text" placeholder="Your Message" required
											data-error="NEW ERROR MESSAGE"></textarea>
									</div>
								
									<div class="col-12">
										<button 
											class="btn btn-primary py-3 w-100 text-uppercase rounded-pill fwSemibold" type="submit" onclick="handleFormSubmission()">sned
											your message</button>
									</div>
								</div>
							</form>
	                         #}<br>
	<br>
		<div class="space-bottom"> <div class="container">
			<form action="https://api.web3forms.com/submit" method="POST" class="contact-form" data-bg-src="assets/img/bg/contact_form_bg.png">
				<input type="hidden" name="access_key" value="2eb53aae-45d8-49b4-b3bc-4d3b377d3167">
				<input type="hidden" name="redirect" value="http://127.0.0.1:8000/thankYouPage">
				<div class="input-wrap">
					<h2 class="sec-title">Contactez-nous !</h2>
					<div class="row">
						<div class="form-group col-12">
							<input type="text" class="form-control" name="name" id="name" placeholder="Your Name">
							<i class="fal fa-user"></i>
						</div>
						<div class="form-group col-12">
							<input type="email" class="form-control" name="email" id="email" placeholder="Email Address">
							<i class="fal fa-envelope"></i>
						</div>
						<div class="form-group col-12">
							<input type="tel" class="form-control" name="number" id="number" placeholder="Phone Number">
							<i class="fal fa-phone"></i>
						</div>

						<div class="form-group col-12">
							<textarea name="message" id="message" cols="30" rows="3" class="form-control" placeholder="Type Appointment Note..."></textarea>
							<i class="fal fa-pencil"></i>
						</div>
						<div class="form-btn col-6">
							<button class="th-btn btn-fw">Send</button>
						</div>
					</div>
					<p class="form-messages mb-0 mt-3"></p>
				</div>

			</form>
		</div>
	</div>
	<!--==============================
	Map Area  
	==============================-->
	<div class="">
		<div class="contact-map">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d756.6114729376475!2d10.80768797558849!3d35.764953497913886!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x130212a587e3bc31%3A0x2df60524b9d30807!2sSalon%20de%20Th%C3%A9%20ELHABAYEB!5e0!3m2!1sen!2stn!4v1708620551011!5m2!1sen!2stn" allowfullscreen="" loading="lazy"></iframe>
		</div>
	</div>
{% endblock %}
