{% extends "base.html.twig" %}
{% block body %}
<!--==============================
Hero Area
==============================-->
    <div class="th-hero-wrapper hero-2" id="hero" data-bg-src="assets/img/hero/hero_bg_2_1.jpg">
        <div class="hero-inner">
            <div class="container">
                <div class="hero-style2">
                    <span class="sub-title"><img src="assets/img/theme-img/title_icon.svg" alt="shape">24/7 Service d'urgence</span>
                    <h1 class="hero-title2">
                        <span class="title1">Prendre soin de la  <span class="line-text">Santé</span></span>
                        <span class="title2">Prendre soin de Vous</span>
                    </h1>
                    <p class="hero-text">Votre santé, à portée de clic.</p>
                    
                </div>
            </div>
            <div class="hero-img">
                <img src="assets/img/hero/hero_2_1.png" alt="Image">
            </div>
            <div class="hero-shape1">
                <img src="assets/img/hero/hero_shape_2_1.svg" alt="shape">
            </div>
            <div class="hero-shape2">
                <img src="assets/img/hero/hero_shape_2_2.svg" alt="shape">
            </div>
            <div class="hero-shape3">
                <img src="assets/img/hero/hero_shape_2_3.svg" alt="shape">
            </div>
            <div class="hero-shape4">
                <img src="assets/img/hero/hero_shape_2_4.svg" alt="shape">
            </div>
            <div class="hero-shape5">
                <img src="assets/img/hero/hero_shape_2_5.svg" alt="shape">
            </div>
        </div>
    </div>
    <!--======== / Hero Section ========-->
    <!--==============================
About Area  
==============================-->
    <div class="space" id="about-sec">
        <div class="shape-mockup" data-top="0" data-right="0"><img src="assets/img/shape/pattern_shape_1.png" alt="shape"></div>
        <div class="shape-mockup jump" data-bottom="10%" data-right="3%"><img src="assets/img/shape/medicine_1.png" alt="shape"></div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 mb-30 mb-xl-0">
                    <div class="img-box1">
                        <div class="img1">
                            <img src="assets/img/normal/about_1_3.png" alt="About">
                        </div>
                        <div class="about-info">
                            <h3 class="box-title">Dr. Esita Jabed</h3>
                            <p class="box-text">Mention the languages <br> in which the staff.</p>
                            <div class="box-review">
                                <i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i>
                            </div>
                            <a href="tel:+16356478965" class="box-link"><i class="fa-solid fa-phone"></i> +163 564 78965</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="ps-xxl-4 ms-xl-2 text-center text-xl-start">
                        <div class="title-area mb-32">
                            <span class="sub-title"><img src="assets/img/theme-img/title_icon.svg" alt="shape">A propos de nous</span>
                            <h2 class="sec-title">Solutions de soins de santé abordables</h2>
                            <p class="sec-text"> Mediax est une plateforme de prise de rendez-vous médicaux en ligne qui révolutionne la gestion des cabinets médicaux et facilite la vie des patients..</p>
                        </div>
                        <div class="mb-30 mt-n1">
                            <div class="checklist style2 list-two-column">
                                <ul>
                                    <li><i class="fas fa-heart-pulse"></i> Professionnels de la santé</li>
                                    <li><i class="fas fa-heart-pulse"></i> Installations et équipements</li>
                                    <li><i class="fas fa-heart-pulse"></i> Soin d'urgence</li>
                                    <li><i class="fas fa-heart-pulse"></i> Consultation médicale</li>
                                    <li><i class="fas fa-heart-pulse"></i> Services offerts</li>
                                    <li><i class="fas fa-heart-pulse"></i> Spécialisations</li>
                                </ul>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--==============================
Service Area  
==============================-->
    <section class="overflow-hidden bg-smoke space" id="service-sec" data-bg-src="assets/img/bg/service_bg_1.png">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8">
                    <div class="title-area text-center">
                        <span class="sub-title"><img src="assets/img/theme-img/title_icon.svg" alt="Icon">Nos Services</span>
                        <h2 class="sec-title">Notre service technique Spécialités Mediax</h2>
                    </div>
                </div>
            </div>
            <div class="row gy-4 justify-content-center">
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="service-card" data-bg-src="assets/img/service/service_card_1.jpg">
                        <div class="box-shape">
                            <img src="assets/img/bg/service_card_bg.png" alt="Service">
                        </div>
                        <div class="box-icon">
                            <img src="assets/img/icon/service_card_1.svg" alt="Icon">
                        </div>
                        <h3 class="box-title"><a href="service-details.html">Médecine interne</a></h3>
                        <p class="box-text">30+ Doctors</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="service-card" data-bg-src="assets/img/service/service_card_2.jpg">
                        <div class="box-shape">
                            <img src="assets/img/bg/service_card_bg.png" alt="Service">
                        </div>
                        <div class="box-icon">
                            <img src="assets/img/icon/service_card_2.svg" alt="Icon">
                        </div>
                        <h3 class="box-title"><a href="service-details.html">Soins dentaires</a></h3>
                        <p class="box-text">20+ Doctors</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="service-card" data-bg-src="assets/img/service/service_card_3.jpg">
                        <div class="box-shape">
                            <img src="assets/img/bg/service_card_bg.png" alt="Service">
                        </div>
                        <div class="box-icon">
                            <img src="assets/img/icon/service_card_3.svg" alt="Icon">
                        </div>
                        <h3 class="box-title"><a href="service-details.html">Soins d'urologie</a></h3>
                        <p class="box-text">20+ Doctors</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="service-card" data-bg-src="assets/img/service/service_card_4.jpg">
                        <div class="box-shape">
                            <img src="assets/img/bg/service_card_bg.png" alt="Service">
                        </div>
                        <div class="box-icon">
                            <img src="assets/img/icon/service_card_4.svg" alt="Icon">
                        </div>
                        <h3 class="box-title"><a href="service-details.html">Soins de neurologie</a></h3>
                        <p class="box-text">10+ Doctors</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="service-card" data-bg-src="assets/img/service/service_card_5.jpg">
                        <div class="box-shape">
                            <img src="assets/img/bg/service_card_bg.png" alt="Service">
                        </div>
                        <div class="box-icon">
                            <img src="assets/img/icon/service_card_5.svg" alt="Icon">
                        </div>
                        <h3 class="box-title"><a href="service-details.html">Gynécologues</a></h3>
                        <p class="box-text">30+ Doctors</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="service-card" data-bg-src="assets/img/service/service_card_6.jpg">
                        <div class="box-shape">
                            <img src="assets/img/bg/service_card_bg.png" alt="Service">
                        </div>
                        <div class="box-icon">
                            <img src="assets/img/icon/service_card_6.svg" alt="Icon">
                        </div>
                        <h3 class="box-title"><a href="service-details.html">Ophtalmologie</a></h3>
                        <p class="box-text">24+ Doctors</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="service-card" data-bg-src="assets/img/service/service_card_7.jpg">
                        <div class="box-shape">
                            <img src="assets/img/bg/service_card_bg.png" alt="Service">
                        </div>
                        <div class="box-icon">
                            <img src="assets/img/icon/service_card_7.svg" alt="Icon">
                        </div>
                        <h3 class="box-title"><a href="service-details.html">Orthopédie</a></h3>
                        <p class="box-text">26+ Doctors</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="service-card" data-bg-src="assets/img/service/service_card_8.jpg">
                        <div class="box-shape">
                            <img src="assets/img/bg/service_card_bg.png" alt="Service">
                        </div>
                        <div class="box-icon">
                            <img src="assets/img/icon/service_card_8.svg" alt="Icon">
                        </div>
                        <h3 class="box-title"><a href="service-details.html">Cardiologie</a></h3>
                        <p class="box-text">20+ Doctors</p>
                    </div>
                </div>
            </div>
            <div class="mt-5 pt-2 space-extra-bottom">
                <p class="round-text"><span class="text">Vous bénéficiez de plus de 20 services supplémentaires...</span></p>
            </div>
        </div>
    </section>

{% endblock %}